<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Harishkumar M</h5>
                    <p class="grey-text text-lighten-4">This website is made for IDT Coding Test.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="mailto:hmoothed@stevens.edu">Email Id</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/noobhk-coder">GitHub</a></li>
                        <li><a class="grey-text text-lighten-3"
                                href="https://www.linkedin.com/in/harishkumar-moothedathu-85113012b/">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>